:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-roboto), sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
  font: inherit;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  height: auto;
  display: block;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
